.navbar-inverse{
    background-color: #449eff !important;
    color: white;
    border-color: #449eff !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius:0px !important;
    border-radius: 0px !important;
}

.navbar {
    position: relative;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #449eff !important;
}

.navbar-inverse .navbar-nav>li>a{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

body{
    overflow-x: hidden;
}